/* FORMATTING & UNIVERSAL STYLING*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	/* background-color: #effffa; */
	/* font-family: "Montserrat", Arial, Helvetica, sans-serif; */
	font-family: "Raleway", sans-serif;
	line-height: 1.71429;
}
p {
	line-height: 1.71429;
	font-size: 14px;
	color: rgb(53, 53, 53);
}
h1 {
	font-size: 28px;
	margin-bottom: 26px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.app-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.mid {
	max-width: 840px;
}
.stage {
	margin: 10px;
	padding: 10px 10px;
	border: #59236e 2px solid;
	border-radius: 4px;
	border-width: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: unset;
	background-color: #dac2e4;
	/* max-height: 325px; */
}

.stage p {
	white-space: pre-wrap;
}

.threads {
	margin-top: 100px;
}

.boxes {
	margin-top: 100px;
}

/* SCROLLBAR STYLE  */
/* ::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track-piece {

}
::-webkit-scrollbar-thumb {
	background-color: #59236e;
	outline: 2px solid #effffa;
	outline-offset: -2px;
	border: 0.1px solid #b7b7b7;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(53, 53, 53);
} */

/* FOOTER SECTION  */
.footer {
	text-align: center;
	opacity: 0.7;
	font-size: 13px;
	margin-top: 60px;
	padding-bottom: 28px;
}

/* ////////// MEDIA QUERIES ////////// */
/* @media (max-width: 768px) {
  .mid {
    width: 100%;
  }
  .stage {
    padding: 24px;
  }
  .intro {
    margin-top: 40px;
  }
} */

@media (max-width: 1550px) {
	.right {
		width: 270px;
	}
}

@media (max-width: 1115px) {
	.mid {
		max-width: 640px;
	}
}

@media (max-width: 910px) {
	.mid {
		/* max-width: 95%; */
		max-width: 769px;
	}
	.boxes {
		display: none;
	}
}

@media (max-width: 678px) {
	.stage {
		margin: 0;
		border-radius: 0;
		border: none;
		border-bottom: #59236e 4px solid;
	}
}
/* *************Need to do something with RandoBox once width is 910 or lower */
