*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	line-height: 1.71429;
}
p {
	line-height: 1.71429;
	font-size: 0.906rem;
	color: #000;
}
h1 {
	font-size: 1.75rem;
	margin-bottom: 26px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.app-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.mid {
	max-width: 840px;
	margin-bottom: 30px;
	width: 100%;
}
.stage {
	margin: 10px;
	padding: 10px 10px;
	border: #59236e 2px solid;
	border-radius: 4px;
	border-width: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: unset;
	background-color: #dac2e4;
}

.stage p {
	white-space: pre-wrap;
}

.threads {
	margin-top: 100px;
}

.boxes {
	margin-top: 100px;
}

.footer {
	text-align: center;
	opacity: 0.7;
	font-size: 0.813rem;
	margin-top: 60px;
	padding-bottom: 28px;
}

.hidden {
	display: none;
}

@media (max-width: 1550px) {
	.right {
		width: 270px;
	}
}

@media (max-width: 1115px) {
	.mid {
		max-width: 640px;
	}
}

@media (max-width: 910px) {
	.mid {
		/* max-width: 95%; */
		max-width: 769px;
	}
	.boxes {
		display: none;
	}
}

@media (max-width: 678px) {
	.stage {
		margin: 5px 0;
		border-radius: 0;
		border: none;
		border-bottom: #59236e 1.5px solid;
		border-top: #59236e 1.5px solid;
	}
}
/* *************Need to do something with RandoBox once width is 910 or lower */
