.convo-container {
	display: flex;
	flex-direction: row;
	margin-top: 16px;
}

.column-1 {
	display: flex;
	flex-direction: column;
}

.column-2 {
	display: flex;
	flex-direction: column;
	padding-left: 4px;
	margin-top: 4px;
	width: 100%;
}

.heading {
	font-size: 12px;
	color: #666;
}

.arrow-button {
	height: 16px;
	width: 16px;
	padding: 2px;
}

#upvote:hover {
	color: rgb(94, 184, 10);
}

#downvote:hover {
	color: rgb(209, 6, 6);
}

.vertical-line {
	background-color: grey;
	width: 1px;
	height: 100%;
	margin: auto;
}

.reply-button {
	align-self: start;
}

.reply-icon {
	height: 22px;
	width: 22px;
	margin-right: 2px;
	padding: 4px;
}

#reply-text {
	font: 12px;
	color: #666;
}

.reply-input {
	/* margin: 100px; */
}
