.convo-container {
	display: flex;
	flex-direction: row;
	margin-top: 16px;
}

.column-1 {
	display: flex;
	flex-direction: column;
}

.column-2 {
	display: flex;
	flex-direction: column;
	padding-left: 4px;
	margin-top: 4px;
	width: 100%;
}

.comment-heading {
	font-size: 0.938rem;
	color: #59236e;
	/* font-style: italic; */
	margin-bottom: 10px;
	font-weight: bold;
}

.arrow-button {
	height: 16px;
	width: 16px;
	padding: 2px;
}

#upvote:hover {
	color: rgb(94, 184, 10);
}

#downvote:hover {
	color: rgb(209, 6, 6);
}

.vertical-line {
	background-color: #59236e;
	width: 1px;
	height: 100%;
	margin: auto;
}

.reply-button {
	align-self: start;
}

.reply-icon {
	height: 22px;
	width: 22px;
	margin-right: 2px;
	padding: 4px;
}

#reply-text {
	font: 12px;
	color: #444;
}

.comment-box {
	padding-left: 7px;
}

.convo-container .op-flag {
	font-family: "Ultra", serif;
	color: #000;
	font-style: normal;
	font-weight: lighter;
}

.convo-container .is-reply-flag {
	/* display: flex; */
	/* padding-left: 7px; */
	font-style: italic;
	/* color: #666565; */
	color: #4d4d4d;
	margin-bottom: 15px;
	font-size: 14px;
}

.convo-container .reply-body {
	border-left: 1px solid #59236e;
	padding-left: 10px;
	font-style: normal;
}

.convo-container .reply-body p {
	/* color: #666565; */
	color: #4d4d4d;
}

.hidden {
	display: none;
}
