.header {
	width: 100%;
	position: fixed;
	background: #59236e;
	z-index: 1;
}

.header-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#plumm-title {
	color: #ffffff;
	font-family: "Ultra", serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	cursor: pointer;
	font-size: 1.5rem;
}

.header button {
	padding: 5px 10px;
}

.header-buttons {
	display: flex;
	width: 185px;
	justify-content: space-between;
	align-items: center;
	margin-right: 40px;
}
