.header {
	width: 100%;
	position: fixed;
	background: #59236e;
	z-index: 1;
	color: #fff;
	font-family: "Ultra", serif;
}

.header-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#plumm-title {
	font-weight: 100;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	cursor: pointer;
	font-size: 1.5rem;
}

#plumm-title:hover {
	color: #e6d0f0;
}

.header button {
	padding: 5px 10px;
}

.log-sign-header {
	display: flex;
	width: 185px;
	justify-content: space-around;
	align-items: center;
	margin-right: 10px;
}

.logout-header {
	display: flex;
	font-size: 1.125rem;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	/* font-family: "Ultra", serif; */
	/* font-weight: lighter; */
	margin-right: 15px;
}

.user-header {
	align-self: center;
	margin-right: 20px;
}
