.dialog-button {
	color: #59236e;
	background: #dac2e4;
	border-radius: 16px;
	font-family: "Ultra", serif;
	/* font-weight: 100; */
	text-transform: lowercase;
	/* font-family: "Raleway", sans-serif; */
	font-size: 0.9rem;
	cursor: pointer;
	padding: 2px 6px;
}

.dialog-button:hover {
	background: #e6d0f0;
}

.no-style-button {
	background: none;
	border: none;
	color: #fff;
	font-family: "Ultra", serif;
	cursor: pointer;
	text-transform: lowercase;
	font-size: 1rem;
	/* color: #59236e; */
}

.no-style-button:hover {
	color: #e6d0f0;
}

.no-style-button-alt {
	text-decoration: underline;
	text-decoration-thickness: 15%;
	text-underline-offset: 3px;
}

.dialog-button-2 {
	color: #59236e;
	background: #fff;
	border-radius: 16px;
	font-family: "Ultra", serif;
	font-weight: 100;
	text-transform: lowercase;
	font-size: 0.9rem;
	border: 2px solid #e6d0f0;
	cursor: pointer;
}

.dialog-button-2:hover {
	background: #f9edff;
}

.dialog-box-bg {
	/* background: #dac2e4; */
	font-family: "Ultra", serif;
	color: #59236e;
}

.logged-out-banner {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #59236e;
	padding: 20px 0;
	border-radius: 5px;
}

/* #form-dialog-title {
	background: #59236e;
	margin-bottom: 10px;
}

#form-dialog-title h2 {
	color: #fff;
	font-family: "Ultra", serif;
	text-transform: lowercase;
} */

.logged-out-banner button {
	margin-top: 1.5px;
}

.logged-out-banner p {
	font-size: 1rem;
	color: #fff;
}

.invalid-username label {
	color: red;
	font-weight: bold;
}

.invalid-username:focus-within label {
	color: red;
	font-weight: bold;
}

.valid-username label {
	color: limegreen;
	font-weight: bold;
}
.valid-username:focus-within label {
	color: limegreen;
	font-weight: bold;
}

.modal-footer {
	background: #59236e;
	display: flex;
	justify-content: center;
	padding: 12px 0;
	align-items: flex-start;
}

.modal-footer p {
	color: #fff;
	margin-right: 5px;
}
