.rando-box {
  /* position: fixed; */
  margin-left: 10px;
  border: #59236e 2px solid;
  border-radius: 4px;
  border-width: 1px;
  height: 300px;
  width: 250px;
  margin-top: 10px;
  background-color: #dac2e4;
  padding: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.list-item:hover {
  cursor: pointer;
}

li {
  margin-left: 10px;
}
