#threadHeader {
  color: #59236e;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 4px;
}

#avatar {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

#user {
  color: #666;
}

#category {
  font-weight: bold;
  margin-right: 4px;
}

#iconDiv {
  display: flex;
  align-items: center;
  color: #666;
  margin: 4px;
}

#preview {
  cursor: pointer;
}

/* .icon:hover {
  color: blue;
  font-size: 21px;
  cursor: pointer;
} */
