.thread-header {
	color: #59236e;
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	font-size: 0.825rem;
	font-style: italic;
}

#avatar {
	margin-right: 5px;
	height: 30px;
	width: 30px;
	z-index: 0;
}

.category {
	font-weight: bold;
	margin-right: 4px;
	font-style: normal;
}

#iconDiv {
	display: flex;
	align-items: center;
	color: #666;
	margin: 4px;
}

#preview {
	cursor: pointer;
}

.thread-title {
	font-size: 1.17rem;
}

.fade-text-or-whatever {
	max-height: 325px;
	-webkit-mask-image: -webkit-gradient(
		linear,
		left 50%,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
	mask-image: linear, left 50%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0));
}
