.header .dialog-button {
	color: #59236e;
	background: #dac2e4;
	border-radius: 16px;
	font-family: "Ultra", serif;
	/* font-weight: 100; */
	text-transform: lowercase;
	/* font-family: "Raleway", sans-serif; */
	font-size: 0.9rem;
	cursor: pointer;
	padding: 2px 6px;
}

.header .dialog-button:hover {
	background: #e6d0f0;
}

.no-style-button {
	background: none;
	border: none;
	color: #fff;
	font-family: "Ultra", serif;
	cursor: pointer;
	text-transform: lowercase;
	font-size: 1rem;
	color: #59236e;
}

.no-style-button:hover {
	color: #e6d0f0;
}

.dialog-button-2 {
	color: #;
	background: #fff;
	border-radius: 16px;
	font-family: "Ultra", serif;
	font-weight: 100;
	text-transform: lowercase;
	font-size: 0.9rem;
	border: 2px solid #dac2e4;
	cursor: pointer;
}

.dialog-button-2:hover {
	background: #f9edff;
}

.dialog-box-bg {
	/* background: #dac2e4; */
	font-family: "Ultra", serif;
	color: #59236e;
}
